/*
Header- font-family: 'Teko', sans-serif;
fancy -- font-family: 'Petit Formal Script', cursive;
normal -- font-family: 'Bubbler One', sans-serif;

*/
h1{
  font-family: 'Teko', sans-serif;
}

html, body{
  font-family: 'Bubbler One', sans-serif;
  background-color: white;
  color: yellow;
  height:  100%;
  margin:  0px auto;
  padding: 0px auto;

}
#wrapper {
  height: auto;
  min-height: 100%;
  margin:     0px auto;
  padding:    0px auto;
  position: relative;
  min-width: 320px;
  width: 960px;
  margin: auto;
  height: 728;
  background-color: blue;
  background-image: url("Pictures/buildingBackground.jpg");
  background-repeat: no-repeat;
  border: 1px solid blue;
  display: block;
}
header {
  position: fixed;
  margin: 0px auto;
  padding: 0px auto;
  background-color: none;
  width: inherit;
  z-index:10;
  border: 1px solid green;
  display: block;
  text-align: center;
}
#logo {

  background-color: yellow;
}
footer {
  position: absolute;
  bottom: 0px;

  padding: 0px auto;
  background-color: orange;
  width: 100%;
  border: 1px solid green;
  display: block;
  text-align: center;
  line-height: 1.5em;
}
li {
  display: inline;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid blue;
}
#backgroundPicture{

}
