/*
Header- font-family: 'Teko', sans-serif;
fancy -- font-family: 'Petit Formal Script', cursive;
normal -- font-family: 'Cabin', sans-serif;

font color: #f7f5e6 cream
background color: black
*/
/*------------------Body------------------*/
html, body{
font-family: 'Cabin', sans-serif;
  background-color: black;
  color: #f7f5e6;
  height:  100%;
  margin:  0px auto;
  padding: 0px auto;
}

#backdrop{
  opacity: .15;
  height: 728px;
  position: fixed;
}
#logo{
  float: left;
  display: inline;
}
#wrapper {
  height: auto;
  min-height: 100%;
  padding:    0px auto;
  position: relative;
  min-width: 320px;
  width: 90%;
  margin: auto;
  background-color: none;
  background-image: url("Pictures/buildingBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid none;
  display: block;
}
#wrapperBlack {
  height: auto;
  min-height: 100%;
  margin:     0px auto;
  padding:    0px auto;
  padding-top: 100px;
  position: relative;
  min-width: 320px;
  width: 90%;
  margin: auto;
  height: 728px;
  background-color: none;
  border: 1px solid none;
  display: block;
}
/*------------------Header------------------*/

header {
  position: fixed;
  margin: 0px auto;
  padding: 0px auto;
  background-color: none;
  width: inherit;
  z-index:10;
  border: 1px solid none;
  display: block;
  text-align: center;
}
#headerBlack{
  background-color: black;
  top: 0;
}
#headerNav{
  float: right;
  padding-right: 20px;
}
h1{
  font-family: 'Teko', sans-serif;
  font-size: 4em;
  margin: 0;
  padding: 0;
}
h3{
  font-family: 'Teko', sans-serif;
  font-size: 1.5em;
  letter-spacing: .02em;
  margin-top: 15px;
}
#logoPlaceHolderText{
  font-family: 'Teko', sans-serif;
  font-size: 4em;
  margin: 0;
  padding: 0;
}
/*------------------Left Aside------------------*/

aside{
  float: left;
  width: 25%;
  background-color: #f7f5e6;
  color: black;
  height: 500px
}
form {
  padding: 15px;

}
h3{margin: 15px 15px 0px 10px;

}
.asideH3{
  padding-left: 15px;

}
fieldset{
  border: 0px
}
select {
  width: 170px;
  display: inline-block;
  margin: 4px 0px;
}
#occupants{
  width: 50px;

}
label{
  margin: 2px 0px;
  display: inline-block;
}
/*------------------Right Room Picker Div------------------*/

.hotel-container{
  float: right;
  border: 1px solid none;
  width: 72%;
  height: 600px;

}
#hotelContainerHeader{
    text-align: center;
    padding-bottom: 15px;
    border: 1px solid none;
}
#hotelPlan{
  padding-left: 20px;
  padding-right: 40px;
  height: 400px;
  float: left;
}
.pop-up{
  margin: auto;
  width: 25%;
  border: 1px solid red;
  position: absolute;
  top: 162px;
  right: 75px;
}
.pop-up img{
  margin: 0px auto;
  width: 100%;
}

.pop-up h3{
  margin: 7px 7px;
}
.pop-up ul{
padding: 0px
}
.pop-up li{
display: block;
padding: 3px;
margin-left: 5px;
}


footer {
  bottom: 0px;
  padding: 15px 0;
  background-color: black;
  width: 100%;
  border: 1px solid none;
  display: block;
  text-align: center;
  line-height: 1.5em;
  clear: both;
}
.absoluteFooter {
  position: absolute;
}

.relativeFooter {
  position: relative;
  top: 50px;
}
li {
  display: inline;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid none;
}
#backgroundPicture{

}
